whatsapp:
  encryption-pickle-key: "replace-with-random-secret"
  public-media-signing-key: "replace-with-random-secret"
  direct-media-server-key: "replace-with-random-secret"
  double-puppet-as-token: "replace-with-random-secret"
  double-puppet-hs-token: "replace-with-random-secret"